﻿@using OrganizatorLigii.Domain.Entities
@model Team

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dodaj Klub";
}

@using (Html.BeginForm("Create", "Teams", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "" })
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "" })
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FoundingDate, new { @class = "" })
        @Html.TextBoxFor(m => m.FoundingDate, new { @class = "form-control", type="date" })
        @Html.ValidationMessageFor(m => m.FoundingDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Lokacja</label>
        @{ var locations = ViewData["Locations"] as IEnumerable<Location>; }
        <select name="LocationId" class="form-control">
            
            @foreach (var l in locations)
        {
            <option value="@l.LocationId">@l.City, @l.Name</option>
    }
        </select>
        @Html.ValidationMessageFor(m => m.LocationId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label class="btn btn-primary" >        
            Wybierz Herb <input type="file" class="form-control" name="crestStream"
                    style="display: none !important;" id="upload-file-info"
                    onchange="$('#upload-file-info').html(this.files[0].name)" />
        </label>
        <span class='label label-info' id="upload-file-info"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Zatwierdź" class="btn btn-success" />
    </div>
}