﻿@using OrganizatorLigii.Domain.Entities
@using OrganizatorLigii.WebUI.Extensions
@model Team

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["TeamId"] = Model.TeamId;
}
<div class="row">
    <div class="col-sm-4">
        @Html.Image(Model.Crest, "img-responsive", "margin: 0 auto;", Url.Content("~/Content/crest-placeholder.png"))
        <h3>
            @Model.Name
        </h3>
        <p>
            Lokacja: @Model.Location.Name, @Model.Location.City
        </p>
        <p>
            @Model.Description
        </p>
    </div>
    <div class="col-sm-8">
        <h4>Skład: </h4>
        @{Html.RenderAction("Index", "Players", new { Model.TeamId });}
    </div>
</div>
<hr />
<div class="row text-center">
    @Html.ActionLink("Dodaj Mecz", "Create", "Games", new { Model.TeamId }, new { @class = "btn btn-success" })
</div>
<div class="row text-center">
    <div class="col-sm-6">
        <h4>Mecze w Domu:</h4>
        <div class="list-group">
            @foreach (var m in Model.HomeGames)
            {
                <div class="list-group-item text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-10">
                                <a href="@Url.Action("Details", "Games", new { gameId = m.GameId })">
                                    <b>@Model.Name</b> &nbsp;&nbsp;&nbsp;&nbsp;@m.HomeTeamScore : @m.AwayTeamScore&nbsp;&nbsp;&nbsp;&nbsp; <b>@m.AwayTeam.Name</b>
                                </a>
                                </div>
                                <div class="col-md-1">
                                    @using (Html.BeginForm("Delete", "Games", FormMethod.Post))
        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("gameId", m.GameId)
                            @Html.Hidden("teamId", Model.TeamId)
                            <button type="submit" class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
}
                                </div>
                            </div>
                    </div>
                </div>
             }
        </div>    
    </div>
    <div class="col-sm-6">
        <h4>Mecze Wyjazdowe:</h4>
        <div class="list-group">
            @foreach (var m in Model.AwayGames)
            {
            <div class="list-group-item text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <a href="@Url.Action("Details", "Games", new { gameId = m.GameId })">
                                <b>@m.HomeTeam.Name</b> &nbsp;&nbsp;&nbsp;&nbsp;@m.HomeTeamScore : @m.AwayTeamScore&nbsp;&nbsp;&nbsp;&nbsp; <b>@Model.Name</b>
                            </a>
                        </div>
                        <div class="col-md-1">
                            @using (Html.BeginForm("Delete", "Games", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("gameId", m.GameId)
                                @Html.Hidden("teamId", Model.TeamId)
                                <button type="submit" class="btn btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>