﻿@using OrganizatorLigii.Domain.Entities
@model IEnumerable<Team>
@{
    ViewBag.Title = "Kluby";
}

<h2>Kluby</h2>
<hr />
<div class="list-group">
    <div class="list-group-item text-center">
        @Html.ActionLink("Nowy Klub", "Create", null, new { @class= "btn btn-success" })
    </div>
    @foreach (var team in Model)
    {
        <div class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6 text-center">
                        <h4>
                            @Html.ActionLink(team.Name, "Details", new { team.TeamId })
                        </h4>
                    </div>
                    <div class="col-sm-offset-1 col-sm-1">
                        <a href="@Url.Action("Edit", new { team.TeamId })"
                            class="btn btn-primary">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </div>
                    <div class="col-sm-1">
                        @using (Html.BeginForm("Delete", "Teams", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken();
                            @Html.Hidden("teamId", team.TeamId);
                            <button type="submit" class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

