﻿@using OrganizatorLigii.Domain.Entities
@using OrganizatorLigii.WebUI.Extensions
@model Player

@{
    ViewBag.Title = "Dodaj Zawodnika";
    var teamId = (int)ViewData["TeamId"];
}

@using (Html.BeginForm("Create", "Players", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("teamId", teamId)
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Position)
        @Html.TextBoxFor(m => m.Position, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Position, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.JerseyNumber)
        @Html.TextBoxFor(m => m.JerseyNumber, new { @class = "form-control", type="number", min = 1})
        @Html.ValidationMessageFor(m => m.JerseyNumber, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label class="btn btn-primary">
            Dodaj Fotografię <input type="file" class="form-control" name="photoStream"
                style="display: none !important;" id="upload-file-info"
                onchange="$('#upload-file-info').html(this.files[0].name)" />
        </label>
    </div>
    <input type="submit" value="Zatwierdź" class="btn btn-success" />
}