﻿@using OrganizatorLigii.Domain.Entities
@using OrganizatorLigii.WebUI.Extensions
@model IEnumerable<Player>

@{
    Layout = null;
    var teamId = (int)ViewData["TeamId"];
}

<div class="list-group">
    <div class="list-group-item text-center">
        @Html.ActionLink("Dodaj Zawodnika", "Create", "Players",
            new { teamId }, new { @class = "btn btn-success" })
    </div>
    @foreach (var p in Model)
    {
        <div class="list-group-item">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                            @Html.Image(p.Photo, "img-responsive", "", Url.Content("~/Content/photo-placeholder.png"))
                    </div>
                    <div class="col-sm-2">
                        @p.FirstName @p.LastName
                    </div>
                    <div class="col-sm-6">
                        <p><b>Pozycja: </b>@p.Position</p>
                        <p><b>Numer Koszulki: </b>@p.JerseyNumber</p>
                        @p.Description  
                    </div>
                    <div class="col-sm-1">
                        @using (Html.BeginForm("Delete", "Players"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("teamId", teamId)
                            @Html.Hidden("playerId", p.PlayerId)
                            <button type="submit" class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

