﻿@model OrganizatorLigii.Domain.Entities.Location

@{
    ViewBag.Title = "Form";
}
@using (Html.BeginForm("Write", "Locations"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.LocationId)

    <div class="form-horizontal">
        <h4>@(Model?.LocationId == null || Model.LocationId == 0 ? "Stwórz" : "Edytuj") Lokację</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <label>@Html.DisplayNameFor(model => model.Name)</label>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-10">
                <label>@Html.DisplayNameFor(model => model.City)</label>
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1">
                <input type="submit" value="@(Model?.LocationId == null || Model.LocationId == 0 ? "Stwórz": "Edytuj")" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Powrót do strony głównej", "Index")
</div>
