﻿@using OrganizatorLigii.Domain.Entities
@model IEnumerable<Location>
@{
    ViewBag.Title = "Home Page";
}

<div class="list-group">
    <div class="list-group-item text-center">
        @Html.ActionLink("Dodaj Lokację", "Form", null, new { @class = "btn btn-success" })
    </div>
    @foreach (var l in Model)
    {
        ViewData["LocationId"] = l.LocationId;
        <div class="list-group-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6 text-center">
                        @l.Name, @l.City
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("Edytuj Lokację", "Form", "Locations", new { locationId = l.LocationId }, new { @class = "btn btn-info" })
                    </div>
                    <div Class="col-md-1">
                        @using (Html.BeginForm("Delete", "Locations"))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" value="@l.LocationId" name="locationId" />
                            <input type="submit" value="Usuń" class="btn btn-danger" />
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>