﻿@{
    Layout = null;
}
@using OrganizatorLigii.Domain.Entities
@model GameComment

@using (Html.BeginForm("WriteComment", "Games"))
{
    @Html.AntiForgeryToken()
    <input type="hidden" value="@ViewData["GameId"]" name="gameId" />
    <div class="form-group">
        <label>Skomentuj Mecz</label>
        @Html.TextAreaFor(model => model.Text, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Zatwierdź" />
    </div>
}

