﻿@{
    Layout = null;
}
@using OrganizatorLigii.Domain.Entities
@model IEnumerable<GameComment>
<div class="list-group">
    @foreach (var c in Model)
    {
    <div class="list-group-item">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="@Url.Content("~/Content/photo-placeholder.png")" class="img-circle img-responsive" />
                    <label>Anonim</label>
                </div>
                <div class="col-md-9">
                    @Html.Encode(c.Text)
                    <hr />
                    <div class="text-center">
                        @using (Html.BeginForm("DeleteComment", "Games"))
                        {
                            @Html.AntiForgeryToken()
                            <input hidden name="commentId" value="@c.GameCommentId"/>
                            <button type="submit" class="btn btn-danger">Usuń Komentarz</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>

<style>
    on-hover-display {
        display:none
    }
</style>