﻿@using OrganizatorLigii.Domain.Entities
@model Game
@{
    var teamId = (int)ViewData["TeamId"];
    var teams = ViewData["Teams"] as IEnumerable<Team>;
}
@using (Html.BeginForm("Create", "Games", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("teamId", teamId)
    <div class="form-group">
        @Html.LabelFor(m => m.GameDate)
        @Html.TextBoxFor(m => m.GameDate, new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(m => m.GameDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.HomeTeamScore)
        @Html.TextBoxFor(m => m.HomeTeamScore, new { @class = "form-control", type = "number", min = 0 })
        @Html.ValidationMessageFor(m => m.HomeTeamScore, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AwayTeamScore)
        @Html.TextBoxFor(m => m.AwayTeamScore, new { @class = "form-control", type = "number", min = 0 })
        @Html.ValidationMessageFor(m => m.AwayTeamScore, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Przeciwna Drużyna</label>
        <select name="OpponentId" class="form-control">
            @foreach (var t in teams)
        {
            if (t.TeamId != teamId)
            {
                <option value="@t.TeamId">@t.Name</option>
        }
    }
        </select>
        @Html.ValidationMessageFor(m => m.OpponentId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Gra Wyjazdowa</label>
        <input type="checkbox" value="true" name="awayGame" />
        <input type="hidden" value="false" name="awayGame" />
    </div>
    <input type="submit" value="Zatwierdź" class="btn btn-success" />
}