﻿@using OrganizatorLigii.Domain.Entities
@using OrganizatorLigii.WebUI.Extensions
@model Game

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["GameId"] = Model.GameId;
}
<div class="row text-center">
    <div class="col-md-2">
        @Html.Image(Model.HomeTeam.Crest, "img-responsive", "margin: 0 auto;", Url.Content("~/Content/crest-placeholder.png"))
    </div>
    <div class="col-md-2">
        <h2>
            @Model.HomeTeam.Name
        </h2>
    </div>
    <div class="col-md-1">
        <h2 class="text-primary">
            @Model.HomeTeamScore
        </h2>
    </div>
    <div class="col-md-2">
        <h2>:</h2>
    </div>
    <div class="col-md-1">
        <h2 class="text-primary">
            @Model.AwayTeamScore
        </h2>
    </div>
    <div class="col-md-2">
        <h2>
            @Model.AwayTeam.Name
        </h2>
    </div>
    <div class="col-md-2">
        @Html.Image(Model.AwayTeam.Crest, "img-responsive", "margin: 0 auto;", Url.Content("~/Content/crest-placeholder.png"))
    </div>
</div>
<hr />
<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                @{Html.RenderPartial("_CommentForm", new GameComment()); }
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                @{ Html.RenderPartial("_CommentsIndex", Model.GameComments); }
            </div>
        </div>
    </div>
</div>