﻿@{
    Layout = null;
}
@using OrganizatorLigii.Domain.Entities
@model PostComment

@using (Html.BeginForm("WriteComment", "Home"))
{
    @Html.AntiForgeryToken()
    <input type="hidden" value="@ViewData["PostId"]" name="postId" />
    @Html.HiddenFor(model => model.PostCommentId)
    <div class="form-group">
        <label>@Html.DisplayNameFor(model => model.Text)</label>
        @Html.TextAreaFor(model => model.Text, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Dodaj Komentarz" />
    </div>
}

