﻿@model OrganizatorLigii.Domain.Entities.Post

@{
    ViewBag.Title = "Form";
}
@using (Html.BeginForm("Write", "Home"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@(Model == null ? "Stwórz" : "Edytuj") Post</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PostId)
        <div class="form-group">
            <div class="col-md-10">
                <label>@Html.DisplayNameFor(model => model.Title)</label>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label>@Html.DisplayNameFor(model => model.Text)</label>
                @Html.TextAreaFor(model => model.Text, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1">
                <input type="submit" value="@(Model == null? "Stwórz": "Edytuj")" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Powrót do strony głównej", "Index")
</div>
