﻿@using OrganizatorLigii.Domain.Entities
@model IEnumerable<Post>
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row text-center">
        @Html.ActionLink("Dodaj Post", "Form", null, new { @class = "btn btn-success" })
    </div>
    @foreach (var p in Model)
    {
        ViewData["PostId"] = p.PostId;
        <hr />
        <div class="row">
            <h3>@p.Title</h3>
            <p>@p.Text</p>
            <div class="row text-center">
                <div class="col-md-offset-10 col-md-1">
                    @Html.ActionLink("Edytuj Post", "Form", new { postId = p.PostId }, new { @class = "btn btn-info" })
                </div>
                <div Class="col-md-1">
                    @using (Html.BeginForm("Delete", "Home"))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" value="@p.PostId" name="postId" />
                        <input type="submit" value="Usuń" class="btn btn-danger" />
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <div class="text-center">
                        <a href="#" class="" onclick="$('#comments-container').toggle()">Rozwiń komentarze (@p.PostComments.Count)</a>
                    </div>
                    <div id="comments-container" hidden>
                        @{Html.RenderPartial("_CommentForm", new PostComment());}
                        @{Html.RenderPartial("_CommentsIndex", p.PostComments);}
                    </div>
                </div>
            </div>
        </div>
    }
</div>